<template name="uniCommentsForm">
    <div class="input-group">
        <input type="text"
               class="js-comment-text form-control"
               maxlength="400">
        <div class="input-group-btn">
            <button type="submit"
                    class="js-send-comment btn btn-default">
                Send
            </button>
        </div>
    </div>
</template>