<template name="uniCommentsList">
    {{#if showAllLink}}
        <a href="#" class="js-show-all">Show all comments</a>
    {{/if}}
    {{#each getComments}}
        {{> uniDynamic 'uniCommentsListItem'}}
    {{/each}}
</template>

<template name="uniCommentsListItem">
    <div class="comment_right">
        <div class="comment_info">
            {{#if canEdit}}
                {{#unless isEditMode}}
                    <a href="#" class="js-delete-comment pull-right" title="Delete"><span class="glyphicon glyphicon-remove"></span></a>
                    <a href="#" class="js-edit-form pull-right" title="Edit"><span class="glyphicon glyphicon-pencil"></span></a>
                {{/unless}}
            {{/if}}
            {{i18n 'comments.postedByLabel'}} <a href="{{pathFor 'uniProfile'}}">{{getName}}</a> <span>|</span> {{formatDate ../createdAt 'll'}}
        </div>
        <p class="comment-text">
            {{#if isEditMode}}
                {{#if canEdit}}
                    <textarea name="comment-text" class="form-control">{{{../text}}}</textarea>
                    <button class="lc-btn pull-right js-edit-comment">Save</button>
                {{/if}}
            {{else}}
                {{{../text}}}
            {{/if}}

        </p>
    </div>
</template>
